misc-neural_networks_from_scratch_files
misc-neural_networks_from_scratch_cache
h2o-classification_and_regression_with_h2o_deep_learning_cache
h2o-classification_and_regression_with_h2o_deep_learning_files
