.Rproj.user
.Rhistory
.Rdata
.Rbuildignore
.Ruserdata
config.txt

packages/ml\.core/man/

packages/ml\.ahead/man/

packages/ml\.advanced/man/

packages/ml\.pro/man/

packages/tree\.Rcheck/

packages/ggbiplot/man/

packages/tree/man/

export/PCA\.pdf

*.bak

work/book-ml_meta/_bookdown_files/

work/book-algorithms_comparison/_bookdown_files/

work/book-building_neural_networks_in_r/_bookdown_files/

work/book-classification/_bookdown_files/

work/book-feature_engineering/_bookdown_files/

work/book-linear_regression-101/_bookdown_files/

work/book-classification/book-classification.rds

work/book-classification/book-linear_regression.rds

*.rds

work/book-linear_regression-303/_bookdown_files/

work/book-neural_networks/_bookdown_files/

work/one_book_at_a_time/_bookdown_files/

work/book-classification/hs_err_pid24104.log
